{:paths ["src"]
 :deps {io.github.radarroark/xitdb {:mvn/version "0.30.0"}}
 :aliases {:file {:exec-fn xitdb-clj-example.core/run
                  :exec-args {:db-kind :file}}
           :memory {:exec-fn xitdb-clj-example.core/run
                    :exec-args {:db-kind :memory}}}}
